<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236688030589-a2b63fdr6udlrk7nvmbag5rnpokbncpr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236688030589-a2b63fdr6udlrk7nvmbag5rnpokbncpr</string>
	<key>API_KEY</key>
	<string>AIzaSyDx8t9u5-gGe39kVLg_gWxIDKkgF8qD3Dw</string>
	<key>GCM_SENDER_ID</key>
	<string>236688030589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tecsup.iOSAppTemplate</string>
	<key>PROJECT_ID</key>
	<string>poketinder-a55ff</string>
	<key>STORAGE_BUCKET</key>
	<string>poketinder-a55ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236688030589:ios:86a0d4e7235d05fd6daa14</string>
</dict>
</plist>